services:
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  backend:
    build: .
    image: backend
    container_name: backend_application
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/myDatabase
    volumes:
      - .:/app #docker mount 
    depends_on:
      - mongodb

volumes:
  mongodb_data:
